<!-- Footer-->
<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">Remerciements</h4>
				<p class="lead mb-0">Nous remercions
					<a href="https://github.com/hgueguen">Harry JMG</a>
					pour l'utilisation de son script.
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">Contact nous</h4>
				<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Symitsh"><i class="devicon-github-original"></i></a>
				<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Lauris-Bessone"><i class="devicon-github-original"></i></a>
			</div>
			<!-- Footer About Text-->
			<div class="col-lg-4">
				<h4 class="text-uppercase mb-4">Réalisation</h4>
				<p class="lead mb-0">
					Ce site a été réalisé avec
					<a href="http://startbootstrap.com">Start Bootstrap</a>.
				</p>
			</div>
		</div>
	</div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
	<div class="container"><small>Copyright &copy; BABY NAME GENERATOR 2022</small></div>
</div>